@use "../../styles/partials/mixins.scss" as*;
@use "../../styles/partials/variables.scss" as *;
@use "../..//styles/global.scss" as *;

.backarrow{
    position: absolute;
    left: 8%;

}

.bio__user {
    font-size: 1.8rem;
}